/* TODO:ADD STYLE */
* {
    /* background-color:black; */
    font-family: helvetica;
    color: #0F334B;
    margin: 3px;
}

.header {
    width: 100%;    /* Ensure the section takes up the full width of the page */
    background-color: #abbaba;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5em;
}

.header h1 {
    color: white;
    text-align: left;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}

button {
    display: inline-block;
    padding: 0.7em 1.7em;
    font-size: 12px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
}

#Welcome {
    height: 100%;  /* Make sure the body and html take full height */
    margin: 0;     /* Remove default margin */
    display: flex; /* Use Flexbox on the body */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.contentSection {
    /* height: 73vh;  Make the section take up the full height of the viewport */
    width: 100%;    /* Ensure the section takes up the full width of the page */
    /* overflow: hidden;  Prevent any content from overflowing and showing scrollbars */
    border-radius: 5px;
    box-shadow: inset 2px 5px 30px lightgray;
}

.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolioImages {
    display: flex;
    justify-content: center;
    align-items: center;
}

.applications {
    border-radius: 1em;
    margin: 0px;
}

.leftSide {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rightSide {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profilePic {
    height: 100px;
    width: 100px;
    border-radius: 5em;
}

.aboutMeDescription {
    padding: 50px;
    border-radius: 0.5em;
}

#firstpi {
    text-indent: 1em;
}

p {
    margin-bottom: 20px;  /* Adds 20px space below each paragraph */
}

.applications {
    height: 250px;
    width: 400px;
}

.resumeTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Proficiencies {
    display: flex;
    justify-content: center;
}

.frontEnd, .backEnd {
    padding: 50px;
}
.downloadLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: red;
}

.downloadLink:active {
    color: blue;
}

#clickable:hover {
    color: blue;
}

a {
    margin: 5px;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

footer {
    text-align: center;
    background-color: #abbaba;
    color: #000;
    width: 100%;    /* Ensure the section takes up the full width of the page */
    border-radius: 0.5em;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}