/* TODO:ADD STYLE */

.header {
    background: black;
    margin: 1px;
}

.header h1 {
    color: white;
    text-align: left;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    font-family: helvetica;
}

footer {
    text-align: center;
    padding: 5px;
    background-color: #abbaba;
    color: #000;
  }